# Aggregation for 15 km (9 grids of 5 km)

In [3]:
import numpy as np
import pandas as pd
import requests
import os
import pathlib
import shutil
import sys
import time
import calendar
import datetime
from numpy  import array
from glob import glob

# Merging the climate variables into a single file (define coordinates)

In [2]:
#Specify latitude of the left top corner in the grid to aggregate
a=-43.25
#Specify longitude of the left top corner in the grid to aggregate
b=146.90
#Some calculation...
a2=round(a-0.05,2)
a3=round(a-0.1,2)
b2=round(b+0.05,2)
b3=round(b+0.1,2)

#Defining the ranges
lat_range=[a3,a2,a]
lon_range=[b,b2,b3]

dirname= r'C:\Users\jjojeda.000\Dropbox\DATA\APSIM sim\base climate data'

#Merge individuals variables into a single file
def generate_dataframe(lat_range, lon_range, download_files=False, output_to_file=True, create_met=False):

    for lat in lat_range:

            for lon in lon_range:
                
                df1= pd.read_csv(os.path.join(dirname,'{}-{}-{}.met'.format("radiation",lat,lon)))
                df2= pd.read_csv(os.path.join(dirname,'{}-{}-{}.met'.format("max_temp",lat,lon)))
                df3= pd.read_csv(os.path.join(dirname,'{}-{}-{}.met'.format("min_temp",lat,lon)))
                df4= pd.read_csv(os.path.join(dirname,'{}-{}-{}.met'.format("daily_rain",lat,lon)))
                df5=df1.merge(df2)
                df6=df5.merge(df3)
                dffinal=df6.merge(df4)

                #Change name of variables
                dffinal.rename(columns={'radiation': 'radn','max_temp': 'maxt','min_temp': 'mint','daily_rain': 'rain'}, inplace=True)

                #Delete the head of the following years
                dffinal2=dffinal[dffinal.year != 'year']

                #Export combined csv
                dffinal2.to_csv('{}-{}.met'.format(lat,lon), sep=" ", index=False, mode="a")
                
generate_dataframe(lat_range=lat_range, lon_range=lon_range)

# Creating the aggregated climate file

In [3]:
#Some explanation:
#for a given grid of 15*15km, we have the corresponding coordinates:
#lat_range=[-39.8,-39.75,-39.7] == lat_range=[0,1,2]
#lon_range=[143.85,143.9,143.95] == lon_range=[0,1,2]

#Open grid files
f1 = pd.read_csv('{}-{}.met'.format(lat_range[0],lon_range[0]), sep=" ", index_col=False)
f2 = pd.read_csv('{}-{}.met'.format(lat_range[0],lon_range[1]), sep=" ", index_col=False)  
f3 = pd.read_csv('{}-{}.met'.format(lat_range[0],lon_range[2]), sep=" ", index_col=False)  
f4 = pd.read_csv('{}-{}.met'.format(lat_range[1],lon_range[0]), sep=" ", index_col=False)  
f5 = pd.read_csv('{}-{}.met'.format(lat_range[1],lon_range[1]), sep=" ", index_col=False)  
f6 = pd.read_csv('{}-{}.met'.format(lat_range[1],lon_range[2]), sep=" ", index_col=False)  
f7 = pd.read_csv('{}-{}.met'.format(lat_range[2],lon_range[0]), sep=" ", index_col=False)  
f8 = pd.read_csv('{}-{}.met'.format(lat_range[2],lon_range[1]), sep=" ", index_col=False)  
f9 = pd.read_csv('{}-{}.met'.format(lat_range[2],lon_range[2]), sep=" ", index_col=False)  

#Merge grids files
merged_table=pd.concat([f1,f2,f3,f4,f5,f6,f7,f8,f9], axis=1, sort=False)

#Calculate average of each variable across the grid files
merged_table['radn_avg'] = merged_table[['radn']].mean(axis=1).round(decimals=1)
merged_table['maxt_avg'] = merged_table[['maxt']].mean(axis=1).round(decimals=1)
merged_table['mint_avg'] = merged_table[['mint']].mean(axis=1).round(decimals=1)
merged_table['rain_avg'] = merged_table[['rain']].mean(axis=1).round(decimals=1)

#Delete undesirable columns 
merged_table.drop(columns=['radn','maxt','mint','rain'], axis=1, inplace=True)

#Delete duplicated columns
merged_table = merged_table.loc[:,~merged_table.columns.duplicated()]

#Change name of variables
merged_table.rename(columns={'radn_avg': 'radn','maxt_avg': 'maxt','mint_avg':'mint','rain_avg':'rain'}, inplace=True)

#Remove rubbish
os.remove('{}-{}.met'.format(lat_range[0],lon_range[0]))
os.remove('{}-{}.met'.format(lat_range[0],lon_range[1]))
os.remove('{}-{}.met'.format(lat_range[0],lon_range[2]))
os.remove('{}-{}.met'.format(lat_range[1],lon_range[0]))
os.remove('{}-{}.met'.format(lat_range[1],lon_range[1]))
os.remove('{}-{}.met'.format(lat_range[1],lon_range[2]))
os.remove('{}-{}.met'.format(lat_range[2],lon_range[0]))
os.remove('{}-{}.met'.format(lat_range[2],lon_range[1]))
os.remove('{}-{}.met'.format(lat_range[2],lon_range[2]))

# Creating the final apsim met file (including head, amp and tav)

In [4]:
#Creating the head for the met apsim file:

#Get the months as a column
merged_table = merged_table.convert_objects(convert_numeric=True)
merged_table['cte']=1997364
merged_table['day2']=merged_table['day']+merged_table['cte']
merged_table['date'] = (pd.to_datetime((merged_table.day2 // 1000)) + pd.to_timedelta(merged_table.day2 % 1000, unit='D'))
merged_table['month'] = merged_table.date.dt.month
month=merged_table.loc[:,'month']

#Calculate amp
merged_table['tmean'] = merged_table[['maxt', 'mint']].mean(axis=1)
tmeanbymonth=merged_table.groupby(month)[["tmean"]].mean()
maxmaxtbymonth=tmeanbymonth.loc[tmeanbymonth['tmean'].idxmax()].round(decimals=5)
minmaxtbymonth=tmeanbymonth.loc[tmeanbymonth['tmean'].idxmin()].round(decimals=5)
a=maxmaxtbymonth-minmaxtbymonth
b=list(a)
am=array(b).round(decimals=5)
for i in am:
    print(i)

#Calculate tav
#tav=merged_table["tmean"].mean()
tav=tmeanbymonth.groupby(month)[["tmean"]].mean().round(decimals=5)
z=tav.iloc[0]['tmean']

#Delete some rubbish
merged_table.drop(merged_table.columns[[6, 7, 8, 9, 10]], axis=1, inplace=True)

#Add variables units:
#create series from types_header_for_insert
merged_final_file = pd.DataFrame(columns = merged_table.columns)
s = pd.Series(["()","()","(MJ^m2)","(oC)","(oC)","(mm)"], index=merged_table.columns)
merged_final_file = merged_final_file.append(s, ignore_index=True).append(merged_table, ignore_index=True)

#Write head of file
with open('{}-{}.met'.format(lat_range[2],lon_range[0]),'a') as file:
        file.write('[weather.met.weather]\n')
        file.write('                         !station number={}-{}\n'.format(lat_range[2],lon_range[0]))
        file.write('                         Latitude={}\n'.format(lat_range[2]))
        file.write('                         Longitude={}\n'.format(lon_range[0]))
        file.write('                         tav={}\n'.format(z))
        file.write('                         amp={}\n\n'.format(i))
        
#Export combined csv
merged_final_file.to_csv('{}-{}.met'.format(lat_range[2],lon_range[0]), sep=" ", index=False, mode="a")

7.98372

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [7]:
df2 = pd.read_csv("C:\\Users\\diego\\Documents\\GitHub\\ClimateDataAutomation\\test\\mierda_df.csv")

In [8]:
df2

     year  day  radn  maxt  mint  rain
0    2015    1  20.2  18.1   9.5   2.3
1    2015    2  23.0  21.9   7.4   0.5
2    2015    3  25.7  27.0  14.0   0.0
3    2015    4  29.1  20.6  10.6   2.7
4    2015    5  19.7  19.6   8.2   0.0
..    ...  ...   ...   ...   ...   ...
726  2016  362   8.4  17.4  12.5   0.6
727  2016  363  10.2  19.2  13.4  20.0
728  2016  364   8.7  22.1  16.6  33.5
729  2016  365  10.5  17.7  13.9  10.3
730  2016  366  20.9  19.6  11.1   0.6

[731 rows x 6 columns]

In [10]:
#df2 = df2.convert_objects(convert_numeric=True)
df2['cte']=1997364
df2['day2']=df2['day']+df2['cte']
df2['date'] = (pd.to_datetime((df2.day2 // 1000)) + pd.to_timedelta(df2.day2 % 1000, unit='D'))
df2['month'] = df2.date.dt.month
month=df2.loc[:,'month']

In [19]:
df2['tmean'] = df2[['maxt', 'mint']].mean(axis=1)
tmeanbymonth=df2.groupby(month)[["tmean"]].mean()
maxmaxtbymonth=tmeanbymonth.loc[tmeanbymonth['tmean'].idxmax()].round(decimals=5)
minmaxtbymonth=tmeanbymonth.loc[tmeanbymonth['tmean'].idxmin()].round(decimals=5)
a=maxmaxtbymonth-minmaxtbymonth
b=list(a)
am=array(b).round(decimals=5)

In [25]:
am[0]

9.56466

In [29]:
tav=tmeanbymonth.groupby(month)[["tmean"]].mean().round(decimals=5)
tav=tav.iloc[0]['tmean']

In [38]:
tmeanbymonth.groupby(month)[["tmean"]].mean().round(decimals=5).iloc[0]['tmean']

10.65538

In [39]:
df2

,year,day,radn,maxt,mint,rain,cte,day2,date,month,tmean
0,2015,1,20.2,18.1,9.5,2.3,1997364,1997365,1971-01-01 00:00:00.000001997,1,13.80
1,2015,2,23.0,21.9,7.4,0.5,1997364,1997366,1971-01-02 00:00:00.000001997,1,14.65
2,2015,3,25.7,27.0,14.0,0.0,1997364,1997367,1971-01-03 00:00:00.000001997,1,20.50
3,2015,4,29.1,20.6,10.6,2.7,1997364,1997368,1971-01-04 00:00:00.000001997,1,15.60
4,2015,5,19.7,19.6,8.2,0.0,1997364,1997369,1971-01-05 00:00:00.000001997,1,13.90
...,...,...,...,...,...,...,...,...,...,...,...
726,2016,362,8.4,17.4,12.5,0.6,1997364,1997726,1971-12-28 00:00:00.000001997,12,14.95
727,2016,363,10.2,19.2,13.4,20.0,1997364,1997727,1971-12-29 00:00:00.000001997,12,16.30
728,2016,364,8.7,22.1,16.6,33.5,1997364,1997728,1971-12-30 00:00:00.000001997,12,19.35
729,2016,365,10.5,17.7,13.9,10.3,1997364,1997729,1971-12-31 00:00:00.000001997,12,15.80
730,2016,366,20.9,19.6,11.1,0.6,1997364,1997730,1972-01-01 00:00:00.000001997,1,15.35