## Fill Nan values

This code was used to automatically fill -99 values using the average between the previous and the following values of each variable (radiation, maxt, mint and rain)

In [8]:
import pandas as pd

In [9]:
df= pd.read_csv(r'C:\Users\uqjojeda\Dropbox\github\ClimateDataAutomation\sample-data\nan\data.csv')

In [10]:
df

          day   radn   rain   tmax   tmin
0    20160101  27.64   0.24  11.05   9.64
1    20160102  27.45   1.45  10.53   8.73
2    20160103  15.72   0.09  10.35   8.67
3    20160104  20.75   0.04  11.14  10.41
4    20160105  29.51   0.67  12.99  11.29
..        ...    ...    ...    ...    ...
361  20161227  29.83   0.02   9.36   8.83
362  20161228  25.59   0.10   9.76   9.21
363  20161229  27.34   3.86  10.63   9.73
364  20161230   7.17  13.87  11.36  10.63
365  20161231  18.88   0.36  11.39  10.32

[366 rows x 5 columns]

In [11]:
df[df < -98] = np.NaN
df = (df.ffill()+df.bfill())/2

In [12]:
#df.describe()
df.to_csv(r'C:\Users\uqjojeda\Dropbox\github\ClimateDataAutomation\sample-data\nan\data2.csv')